@model Funcionario


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}


@section scripts {
    <!--Full Calendar -->
    <script type="text/javascript">
        var tipoFerias = "Dia de Férias";
        var numDiasMarcados = 0;
      
        var numMeiosDiasMarcados =0;
        var numDiasAntecipados = 0;
        var numMeiosAntecipados =0;

        $(document).ready(function () {
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            var calendar = $('#calendar').fullCalendar({
                lang: 'pt',
                dayClick: function (date, jsEvent, view) {
                    var existe = false;

                    var row = document.getElementById("tabelaMarcacaoFerias").rows.length;

                    $('#tabelaMarcacaoFerias tr').find(".DataM").each(function (i, row) {

                        var row = $(this);
                        
                        if (date.format("L") == $(row).text()) {
                            existe = true;

                        }
                    });

                    if (existe == true)
                    {
                        alert("O dia " + date.format("L") + " já foi selecionado já existe na lista de férias por submeter");

                    } else
                    {
                        var rows = document.getElementById('tabelaMarcacaoFerias').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                        
                        $("#tabelaMarcacaoFerias").append(
                            "<tr>" +
                                "<td class ='DataM'>" + date.format("L") + "</td> " +
                                "<td>" +  tipoFerias + "</td> " +
                                "<td>" + "Por Aprovar" + "</td> " +
                                "<td> <a onclick='removeLinhaMarcacaoFerias(this.parentNode.parentNode.rowIndex,tipoFerias)' > " + "<span class='glyphicon glyphicon-remove-circle' aria-hidden='true' style='font-size: 18px; '></span> </a></td>" +
                            "</tr>"
                        );


                        var evento = {
                            //id: value.funcionarioId,
                            title: tipoFerias,// 'Pedido Ferias',
                            start: date, //'2014-06-09T16:00:00'
                            end: date,
                            allDay: true,
                            color: '#eea236'
                        }

                        switch (tipoFerias) {
                            case 'Dia de Férias':
                                evento.color = '#eea236';
                                //$(this).css('background-color', '#eea236'); 
                                numDiasMarcados++; 
                                
                                $("#txtDiasMarcados").text(numDiasMarcados);

                                break;

                            case 'Meio Dia de Férias':
                                //$(this).css('background-color', '#d43f3a');
                                evento.color = '#d43f3a';
                                numMeiosDiasMarcados++; 
                                $("#txtMeiosDiasMarcados").text(numMeiosDiasMarcados);
                                break;

                            case 'Dia Antecipado': $(this).css('background-color', '#46b8da'); 
                                numDiasAntecipados++;
                                
                                $("#txtDiasAntecipados").text(numDiasAntecipados);

                                break;
                            case 'Meio Dia Antecipado': $(this).css('background-color', '#cccccc'); 
                                numMeiosAntecipados++; 
                                
                                $("#txtMeiosDiasAntecipados").text(numMeiosAntecipados);

                                break;

                        }

                        $('#calendar').fullCalendar('renderEvent', evento, true);

                    }
                    
                },
                

                header: {
                    center: 'month' // buttons for switching between views
                },
                views: {
                    
                }
            });

        });

        function removeLinhaMarcacaoFerias(numero,tipoferias) {
           
            var row = $('#tabelaMarcacaoFerias').get(0).rows.item(numero)
            var row = $(row);

            $('#calendar').fullCalendar('removeEvents', function (event) {
                if (event.start.format("L") === row.children('td').eq(0).text())
                    return true;
            });

            document.getElementById('tabelaMarcacaoFerias').deleteRow(numero);

            switch (tipoFerias) {
                case 'Dia de Férias':
                    numDiasMarcados--;

                    $("#txtDiasMarcados").text(numDiasMarcados);

                    break;

                case 'Meio Dia de Férias':
                    numMeiosDiasMarcados--;
                    $("#txtMeiosDiasMarcados").text(numMeiosDiasMarcados);
                    break;
                case 'Dia Antecipado':

                    numDiasAntecipados--;

                    $("#txtDiasAntecipados").text(numDiasAntecipados);

                    break;
                case 'Meio Dia Antecipado': 

                    numMeiosAntecipados--;

                    $("#txtMeiosDiasAntecipados").text(numMeiosAntecipados);

                    break;

            }


        }

        function submeterPedido() {


            var ferias = [];

            var apiUrl = location.origin + "/RH/MarcacaoFerias";

            var row = document.getElementById("tabelaMarcacaoFerias").rows.length;

            $('#tabelaMarcacaoFerias tr').each(function (i, row) {

                var row = $(this);
                if (i != 0) {

                    var td = row.children('td');


                    var feria = {
                        'ano': $("#ano").val(),
                        'dataFeria': td.eq(0).text(),
                        'funcionarioId': '@Model.id',
                        'tipo': td.eq(1).text(),
                        'estado': td.eq(2).text()
                    };


                    ferias.push(feria);

                    var perc = (document.getElementById("tabelaMarcacaoFerias").rows.length / i) * 100;
                    $('#progressbar').width(perc + '%');
                    console.log(perc + '%');


                    $.ajax({
                        type: "POST",
                        dataType: "json",

                        url: apiUrl,
                        data: feria,
                        success: function (data) {
                            
                                //window.location = "/RH/Index";
                            
                        },
                        error: function (error) {
                            var x = error; //break here for debugging.
                        }
                    });
                    
                }

            });


        }

    </script>

    <!--SignalR script to update the chat page and send messages.-->
    <script>
            $.connection.hub.url = "http://192.168.3.16:8989/signalr";

            var rhHub = $.connection.rhHub;

            $(function () {



                rhHub.client.daInfFeriasFuncionario = function (val) {
                    console.log(val);
                    console.log("Connection started! Client - daInfFeriasFuncionario ");

                    $("#txtGozados").text(val.diasJaGozados);
                    $("#txtPorGozar").text(val.diasPorGozar);
                    $("#txtMaximoDiaFerias").text(val.diasDireito);
                };

                rhHub.client.daListaEmpresas = function (val) {
                    console.log("Connection started! client");
                    console.log(val);
                    $("#tabelaEmpresas").empty();

                    val.forEach(preencherEmpresas);

                    function preencherEmpresas(value, index, ar) {

                        $("#tabelaEmpresas").append(
                                "<tr>" +
                                    "<td> <a href='#' onclick= preencheDadosEmpresa('" + value.codigo + "') >" + value.codigo + "</a></td> " +
                                    "<td>" + value.nome + "</td> " +
                                    "<td id='btSave" + value.codigo + "' class = 'listBtSave'> </td>" +
                                "</tr>"
                            );
                    }
                };

                rhHub.client.daDadosEmpresa = function (val) {
                    console.log("Connection started! - da dados da empresa "+ val.codigo);

                    $("#divDadosEmpresa").show();

                    $("#codigo").val(val.codigo);
                    $("#nome").val(val.nome);

                };

                rhHub.client.daListaFuncionarios = function (val) {
                    console.log("Connection started! client - Lista Funcionarios");
                    console.log(val);
                    $("#tableListaFuncionarios").empty();

                    $("#tableListaFuncionarios").append("<tr> <th> Codigo  </th> <th> Funcionario </th> <th> Departamento </th>  <th> Email </th> <th> Nr. Telefone</th> </tr>");

                    val.forEach(preencheFuncionarios);

                    function preencheFuncionarios(value, index, ar){

                        $("#tableListaFuncionarios").append(
                            "<tr>" +
                                "<td>" +
                                    "<a href='#' onclick= daExtratoPdfCliente('" + $("#codigoEmpresa").text() + "','" + value.codigo + "')>" + value.codigo + "</a>" +
                                "</td> " +
                                "<td> " + value.nome + " </td> " +
                                "<td> " + value.departamentoId + "</td>" +
                                "<td id='email'>" + value.email + " </td>  "+
                                "<td> " + value.telemovel + "</td>" +
                            "</tr>"
                        );


                         console.log();
                    }


                }

                rhHub.client.daListaDepartamentos = function (val) {
                    console.log("Connection started! client - Lista Departamentos");
                    console.log(val);

                    $("#tableListaDepartamentos").empty();

                    $("#tableListaDepartamentos").append("<tr> <th> Departamento  </th> <th> Descrição </th> </tr>");

                    val.forEach(preencheDepartamento);

                    function preencheDepartamento(value, index, ar) {

                        //var funcionarios = "";

                        //value.contacto.forEach(daContactos)

                        $("#tableListaDepartamentos").append(
                            "<tr> " +
                                "<td>" + value.departamento + "</td>" +
                                "<td>" + value.descricao + "</td>" +
                            "</tr>"
                        );

                        //function daContactos(value, index, ar){
                        //    if (value != null) {
                        //        contacto = contacto + value.Email + "; ";
                        //    }

                        //}

                        //console.log();
                    }


                }

                $.connection.hub.start().done(function () {
                    console.log("connection started! server");

                    getFuncInfFerias(2015, '@Model.empresaId', '@Model.codigo');
                });
            });

            // This optional function html-encodes messages for display in the page.
            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }

            function daFuncionarios(empresa){
                rhHub.server.daListaFuncionarios(0, empresa, "gmahota", "Accsys2011!", "");
            }

            function preencheDadosEmpresa(empresa) {
                console.log("da Lista de Funcionarios da empresa " + empresa);
                rhHub.server.daDadosEmpresa(0, empresa, "gmahota", "Accsys2011!");
                daFuncionarios(empresa);
                daListaDepartamentos(empresa)

                $(".listBtSave").empty();
                $("#btSave" + empresa).append("<a onclick= 'importarDadosEmpresa()'  class='btSave glyphicon glyphicon-floppy-save' style=' color:red'></a>");


            }

            function daListaDepartamentos(empresa) {
                console.log("Connection started! Server - Lista Departamentos");
                rhHub.server.daListaDepartamentos(0, empresa, "gmahota", "Accsys2011!","");

            }

            function daExtratoPdfCliente(empresa,cliente){
                console.log("da extrato do cliente " + cliente + " da empresa " + empresa);
                enviaEmail(cliente)
                rhHub.server.daExtratoPDFCliente(0, empresa, "gmahota", "Accsys2011!", cliente);
            }

            function importarDadosEmpresa() {

                GravarEmpresa();
                GravarDepartamentos();
                GravarFuncionarios();

            }

            function getFuncInfFerias(ano,empresa,codigo) {
                console.log("Connection started! Server - getFuncInfFerias");
                rhHub.server.daInfFeriasFuncionario(0, empresa, "gmahota", "Accsys2011!", codigo, ano);
            }
    </script>
}

@*<ul id="listaEmpresas" class="nav breadcrumb">
    <li id="codigoEmpresa"> ACC </li>
    <li id="modulo"> R.H </li>
    <li id="modulo_type"> Marcacao Ferias</li>
    <li id="modulo_value" class="active">@ViewData["modulo_value"]</li>
</ul>*@

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="#">Ferias </a>
                <ul class="nav nav-sidebar">
                    <li >
                        <a href="#">Detalhes </a>
                    </li>
                    <li class="active">
                        <a href="#">Marcação <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4 class="page-header">Marcação de Ferias : @ViewData["modulo_value"]</h4>

        <div class="row placeholders">

            <div id="calendar" class="calendario col-md-6 placeholder"></div>

            <div class="col-md-6 placeholder ">

                <table id="tabelaMarcacaoFerias" class="table">

                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>


            </div>


        </div>

        <div class="row placeholders">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dados Funcionario</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-8 placeholder">
                        <table>
                            <tr>
                                <td> Ano de Férias:</td>
                                <td id="anoFerias" style="padding-right:10px"> <input type="number" class="form-control" min="2015" max="2016" value="@DateTime.Now.Year" /> </td>

                                <td>Dias Marcados: </td>
                                <td style="padding-right:10px"> <text id="txtDiasMarcados">0,0</text> </td>

                                <td>Meios Dias: </td>
                                <td style="padding-right:10px"> <text id="txtMeiosDiasMarcados">0,0</text> </td>

                                <td>Dias Antecipados: </td>
                                <td style="padding-right:10px"> <text id="txtDiasAntecipados">0,0</text> </td>

                                <td>Meios Dias Antecipados: </td>
                                <td style="padding-right:10px"> <text id="txtMeiosDiasAntecipados">0,0</text> </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-offset-8 placeholder">
                        <b>Dados da Ficha do Funcionario</b>

                        <table>
                            <tr>
                                <td>Máximo de dias Férias: </td>
                                <td style="padding-right:10px"> <text id="txtMaximoDiaFerias">0,0</text> </td>

                            </tr>
                            <tr>
                                <td>Gozados: </td>
                                <td style="padding-right:10px"> <text id="txtGozados">0,0</text> </td>

                                <td>Por Gozar: </td>
                                <td style="padding-right:10px"> <text id="txtPorGozar">0,0</text> </td>

                            </tr>
                        </table>
                    </div>

                    <div class="col-md-8 placeholder" style="padding-bottom:20px">
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning btn-sm" onclick="tipoFerias = 'Dia de Férias'">Dias de Férias</button>
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>

                            <button type="button" class="btn btn-danger btn-sm" onclick="tipoFerias = 'Meio Dia de Férias'">Meios Dias de Ferias</button>
                            <button type="button" class="btn btn-danger btn-sm dropdown-toggle " onclick="tipoFerias = 'Meio Dia de Férias'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>

                            <button type="button" class="btn btn-info btn-sm" onclick="tipoFerias = 'Dia Antecipado'">Dias Antecipados </button>
                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" onclick="tipoFerias = 'Dia Antecipado'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>

                            <button type="button" class="btn btn-default btn-sm" onclick="tipoFerias = 'Meio Dia Antecipado'">Meios Dias Antecipados </button>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" onclick="tipoFerias = 'Meio Dia Antecipado'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>

                            @*<button type="button" class="btn btn-danger">Desmarcar</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>*@
                        </div>
                    </div>
                </div>
            </div>


            
        </div>

        <div class="row placeholders">
            <div class="col-md-5 placeholder">
                <button type="button" class="btn btn-success btn-sm " role="button" onclick="submeterPedido()"
                        data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    Submeter
                </button>
                <a href="@Url.Action("Index", "RH",new { id = Model.id })" class="btn btn-default btn-sm " role="button">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Cancelar
                </a>
            </div>
        </div>

    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Validação do Pedido</h4>
                </div>
                <div class="modal-body">
                    Deseja Mesmo actualizar os dados?

                    <div id="progressBar">
                        <div class="progress">
                            <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100" style="width:0%">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submeter O Pedido</button>
                </div>
            </div>
        </div>
    </div>

</div>

        
