@model MIT.Data.Funcionario
@inject MIT.CRM.Services.AppServices AppSettings


@{
    var conexao = ViewBag.conexao;
    var url = ViewBag.url;
}

@section scripts {

<!-- Variaveis Globais -->

<script type="text/javascript">
    var ferias = [];
    var tipoFerias = "Dia de Férias";
    var numDiasMarcados = 0;

    var numMeiosDiasMarcados = 0;
    var numDiasAntecipados = 0;
    var numMeiosAntecipados = 0;
</script>

<!-- Boostrap Annual Calendar-->
<script type="text/javascript">

    $(document).ready(function () {
        var currentYear = new Date().getFullYear();

            $('#calendario').calendar({
                enableContextMenu: true,
                dataSource:[],
                mouseOnDay: function (e) {
                    if (e.events.length > 0) {
                        var content = '';

                        for (var i in e.events) {
                            content += '<div class="event-tooltip-content">'
                                            + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                            + '<div class="event-location">' + e.events[i].location + '</div>'
                                        + '</div>';
                        }

                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });

                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function (e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                dayContextMenu: function (e) {
                    $(e.element).popover('hide');
                },
                enableRangeSelection: true,

                selectRange: function (e) {

                },

                clickDay: function (e) {
                    
                    tipoFerias = $("input[name='options']:checked").val();

                    var day = moment(e.date);

                    var evento = {
                        title: tipoFerias,
                        start: day.format("DD/MM/YYYY") ,
                        allDay: true,
                        color: '#eea236'
                    }

                    var feria = {
                        ano: day.format("YYYY"),
                        dataFeria: e.date,
                        funcionarioId: '@Model.id',
                        tipo:tipoFerias,
                        estado: "",
                        tipoMarcacaos:1
                    };

                    if (tipoFerias == "Desmarcar") {


                    } else {

                        if (existeData(ferias, feria) == false) {
                            switch (tipoFerias) {
                                case 'Dia de Férias':
                                    evento.color = '#eea236';
                                    //$(this).css('background-color', '#eea236');
                                    numDiasMarcados++;

                                    $("#txtDiasMarcados").val(numDiasMarcados);

                                    break;

                                case 'Meio Dia de Férias':
                                    //$(this).css('background-color', '#d43f3a');
                                    evento.color = '#d43f3a';
                                    numMeiosDiasMarcados++;
                                    $("#txtMeiosDiasMarcados").val(numMeiosDiasMarcados);
                                    break;

                                case 'Dia Antecipado':
                                    numDiasAntecipados++;

                                    $("#txtDiasAntecipados").val(numDiasAntecipados);

                                    break;
                                case 'Meio Dia Antecipado':
                                    numMeiosAntecipados++;

                                    $("#txtMeiosDiasAntecipados").val(numMeiosAntecipados);

                                    break;

                            }

                            ferias.push(feria)

                            $(e.element).css('background-color', evento.color);
                            $(e.element).css('color', 'white');
                            $(e.element).css('border-radius', '15px');

                        }
                    }
                }
            })

            var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

            $.ajax({
                type: "POST",
                dataType: "json",

                url: apiUrl,
                data: { funcionarioId: '@Model.id', ano: '@DateTime.Now.Year' },

                success: function (data) {

                    data.forEach(preencherCalendario);

                    function preencherCalendario(value, index, ar) {

                        var color = "#337ab7";

                        switch (value.estado) {
                            case "Por Aprovar":
                                color = "#f0ad4e";
                                break;

                            case "Aprovado":
                                color = '#257e4a';
                                break;
                            case "Recusado":
                                color = "#d9534f";

                                break;

                        }

                        switch (value.tipo) {
                            case 'Dia de Férias':

                                numDiasMarcados++;

                                $("#txtDiasMarcados").val(numDiasMarcados);

                                break;

                            case 'Meio Dia de Férias':
                                numMeiosDiasMarcados++;
                                $("#txtMeiosDiasMarcados").val(numMeiosDiasMarcados);
                                break;

                            case 'Dia Antecipado':
                                numDiasAntecipados++;

                                $("#txtDiasAntecipados").val(numDiasAntecipados);

                                break;
                            case 'Meio Dia Antecipado':
                                numMeiosAntecipados++;

                                $("#txtMeiosDiasAntecipados").val(numMeiosAntecipados);

                                break;

                        }

                        var day = moment(value.dataFeria);

                        var currentYear = new Date().getFullYear();
                        console.log(value.dataFeria)
                        var evento = {
                            id: 0,
                            name: value.tipo,
                            location: value.estado,
                            startDate: day.toDate(),
                            endDate: day.toDate(),
                            color: color
                        }



                        saveEvent(evento)

                        var feria = {
                            ano: value.ano,
                            dataFeria: day.toDate(),
                            funcionarioId: '@Model.id',
                            tipo: value.tipo,
                            estado: value.estado,
                            tipoMarcacaos: 1
                        };

                        ferias.push(feria);
                    }
                },
                error: function (error) {
                    var x = error; //break here for debugging.
                }
            });
        })


        function saveEvent(evento) {

            var dataSource = $('#calendario').data('calendar').getDataSource();

            var newId = 0;

            for (var i in dataSource) {
                if (dataSource[i].id > newId) {
                    newId = dataSource[i].id;
                }
            }

            newId++;
            evento.id = newId;

            dataSource.push(evento);


            $('#calendario').data('calendar').setDataSource(dataSource);

        }

        function existeData(events,evento) {

            for (i = 0 ; i < events.length; i++) {
                
                if (events[i].dataFeria.toString("DDMMYYY") == evento.dataFeria.toString("DDMMYYY")) {

                    alert("O sistema não permite marcar duas vezes a mesma data")
                    return true

                } 

            }
            return false;
        }

        
    </script>

<!--Metods Create, Update, Read MarcacaoFerias -->
<script type="text/javascript">

    function submeterPedido() {

        for (i = 0; i < ferias.length; i++) {
            
            var fe = ferias[i]
            var day = moment(fe.dataFeria);

            var feri = { 
                ano:fe.ano, 
                dataFeria: day.format("YYYY-MM-DD"),
                funcionarioId: fe.funcionarioId, 
                tipo: fe.tipo,
                estado: fe.estado,
                tipoMarcacao: fe.tipoMarcacao
            }
            
            

            if (feri.estado == "") {
                feri.estado = "Por Aprovar";
                $.ajax({
                    type: "POST",
                    async: false,
                    dataType: "json",
                    url: location.origin + "/RH/MarcacaoFerias",
                    data: feri ,
                    success: function (data) {

                        //window.location = "/RH/Index";

                    },
                    error: function (error) {
                        var x = error; //break here for debugging.
                    }
                });
            }

        }


        var mensaguem = "";
        mensaguem = "<table>"
        mensaguem += "<tr>" +
            "<th>Data</th>" +
            "<th>Tipo</th>" +
            "<th>Estado</th> </tr>";

        for (j = 0; j < ferias.length; j++) {
            var day = moment(ferias[j].dataFeria)

            mensaguem += "<tr>" +
            "<td>" +  day.format("YYYY-MM-DD") + "</td>" +
            "<td>" + ferias[j].tipo + "</td>" +
            "<td>" + ferias[j].estado + "</td> </tr>";

        }

        mensaguem += "</table>";

        var apiUrl = location.origin + "/Funcionario/sendEmailCriacaoFerias";

        $.ajax({
            type: "POST",
            dataType: "json",
            async: false,
            url: apiUrl,
            data: { funcionarioId: '@Model.id', 'mensaguem': mensaguem, titulo: "Pedido de Ferias do Funcionario @Model.nome.First()" },
            success: function () {

                //window.location = "/RH/Index";

            },
            error: function (error) {
                var x = error; //break here for debugging.
            }
        });

        window.location = "/RH/Details/" + '@Model.id';

    }



    function removeLinhaMarcacaoFerias(numero,tipoferias) {

        var row = $('#tabelaMarcacaoFerias').get(0).rows.item(numero)
        var row = $(row);

        $('#calendar').fullCalendar('removeEvents', function (event) {
            if (event.start.format("L") === row.children('td').eq(0).text())
                return true;
        });

        document.getElementById('tabelaMarcacaoFerias').deleteRow(numero);

        switch (tipoFerias) {
            case 'Dia de Férias':
                numDiasMarcados--;

                $("#txtDiasMarcados").text(numDiasMarcados);

                break;

            case 'Meio Dia de Férias':
                numMeiosDiasMarcados--;
                $("#txtMeiosDiasMarcados").text(numMeiosDiasMarcados);
                break;
            case 'Dia Antecipado':

                numDiasAntecipados--;

                $("#txtDiasAntecipados").text(numDiasAntecipados);

                break;
            case 'Meio Dia Antecipado':

                numMeiosAntecipados--;

                $("#txtMeiosDiasAntecipados").text(numMeiosAntecipados);

                break;

        }


    }

    function deleteMarcacaoFerias(id,linhaActual,tipoFerias) {
        $.ajax({
            type: "POST",
            dataType: "json",

            url: location.origin + "/RH/Delete_Ferias",
            data: { id: id },
            success: function () {


            },
            error: function (error) {
                var x = error; //break here for debugging.
            }
        });

        removeLinhaMarcacaoFerias(linhaActual, tipoFerias);

    }

</script>

}

<!--Page Breadcrumb -->
<ol class="breadcrumb" breadcrumb="">
    @*<li><span>RH</span></li>
        <li><span>Funcionario</span></li>*@
    <li><span>Ferias</span></li>

    <li><span>@ViewData["modulo_value"]</span></li>


    @*@await Html.PartialAsync("_BreadcrumbMenu")*@

    <div class="breadcrumb-menu">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <center>
                <button type="button" class="btn btn-success btn-sm " role="button" onclick="submeterPedido()"> @*data-toggle="modal" data-target="#myModal"*@
                    <span class="fa fa-save" aria-hidden="true"></span>
                    Submeter
                </button>
                <a href="@Url.Action("Details", "RH",new { id = Model.id })" class="btn btn-default btn-sm " role="button">
                    <span class="fa fa-remove" aria-hidden="true"></span>
                    Cancelar
                </a>
            </center>
        </div>
    </div>

</ol>

<div class="container-fluid">
    <div class="animated fadeIn ng-scope">
        <div class="row">
            <div class="card card-full">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-5">
                            <h4 class="card-title">Dados Funcionario</h4>

                            @*<div class="small text-muted" style="margin-top:-10px;">November 2015</div>*@
                        </div>

                    </div>
                    <hr class="m-a-0">

                    <div class="row">
                        
                        @Component.Invoke("Funcionario_Inf_Ferias", Model.id, DateTime.Now.Year)

                        <div class="card">
                            <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" data-toggle="buttons" aria-label="First group">
                                    <label class="btn btn-sm btn-secondary-outline active">
                                        <input name="options" id="option1" type="radio" value="Dia de Férias" checked="checked"> Dia
                                    </label>
                                    <label class="btn btn-sm btn-secondary-outline ">
                                        <input name="options" id="option2" type="radio" value="Meio Dia de Férias"> Meio Dia
                                    </label>
                                    <label class="btn btn-sm btn-secondary-outline">
                                        <input name="options" id="option3" type="radio" value="Dia Antecipado"> Dia Antecipado
                                    </label>

                                    <label class="btn btn-sm btn-secondary-outline">
                                        <input name="options" id="option4" type="radio" value="Meio Dia Antecipado"> Meio Dia Antecipado
                                    </label>
                                </div>
                                <div class="btn-group hidden-sm-down" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-sm btn-danger" onclick="tipoFerias = 'Desmarcar'"><i class="glyphicon-remove"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <div id="calendario" class="calendario placeholder"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Validação do Pedido</h4>
            </div>
            <div class="modal-body">
                Deseja Submeter as Ferias para os respectivos dias?

                <div id="progressBar">
                    <div class="progress">
                        <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="100" style="width:0%">
                            <span class="sr-only">0% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" onclick="submeterPedido()">Sim</button>
            </div>
        </div>
    </div>
</div>


