@model MIT.Data.Funcionario

@{
    var conexao = "";
}



<environment names="Development">
    @{conexao = "http://localhost:8989/signalr";}
</environment>
<environment names="Staging,Production">
    @{conexao = "http://ferias.mit.co.mz:8989/signalr";}
</environment>

@section scripts {

<!-- Variaveis Globais -->

<script type="text/javascript">
        var ferias = [];
        var tipoFerias = "Dia de Férias";
        var numDiasMarcados = 0;

        var numMeiosDiasMarcados = 0;
        var numDiasAntecipados = 0;
        var numMeiosAntecipados = 0;
</script>

<!-- Boostrap Annual Calendar-->
<script type="text/javascript">

        $(document).ready(function () {

            var currentYear = new Date().getFullYear();

            $('#calendario').calendar({
                enableContextMenu: true,
                dataSource:[],
                mouseOnDay: function (e) {
                    if (e.events.length > 0) {
                        var content = '';

                        for (var i in e.events) {
                            content += '<div class="event-tooltip-content">'
                                            + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                            + '<div class="event-location">' + e.events[i].location + '</div>'
                                        + '</div>';
                        }

                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });

                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function (e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                dayContextMenu: function (e) {
                    $(e.element).popover('hide');
                },
                enableRangeSelection: true,

                selectRange: function (e) {

                }
            })

            var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

            $.ajax({
                type: "POST",
                dataType: "json",

                url: apiUrl,
                data: { funcionarioId: '@Model.id', ano: '@DateTime.Now.Year' },

                success: function (data) {

                    data.forEach(preencherCalendario);

                    function preencherCalendario(value, index, ar) {

                        var color = "#337ab7";

                        switch (value.estado) {
                            case "Por Aprovar":
                                color = "#f0ad4e";
                                break;

                            case "Aprovado":
                                color = '#257e4a';
                                break;
                            case "Recusado":
                                color = "#d9534f";

                                break;

                        }

                        var day = moment(value.dataFeria);

                        var currentYear = new Date().getFullYear();
                        console.log(value.dataFeria)
                        var evento = {
                            id: 0,
                            name: value.tipo,
                            location: value.estado,
                            startDate: day.toDate(),
                            endDate: day.toDate(),
                            color: color
                        }

                        saveEvent(evento)

                        if (value.estado == "Por Aprovar") {




                        }



                    }
                },
                error: function (error) {
                    var x = error; //break here for debugging.
                }
            });
        })


        function saveEvent(evento) {

            var dataSource = $('#calendario').data('calendar').getDataSource();

            var newId = 0;

            for (var i in dataSource) {
                if (dataSource[i].id > newId) {
                    newId = dataSource[i].id;
                }
            }

            newId++;
            evento.id = newId;

            dataSource.push(evento);

            console.log(dataSource)

            $('#calendario').data('calendar').setDataSource(dataSource);

        }

        function existeData(events,evento) {

            for(i = 0 ; i < events.length; i++){
                if (events[i].dataFeria == evento.dataFeria) {

                    alert("O sistema não permite marcar duas vezes a mesma data")
                    return true

                }

            }
            return false;
        }

        function submeterPedido() {

            for(i=0;i<ferias.length;i++){
                var feria = ferias[i];

                if(feria.estado ==""){
                    feria.estado = "Por Aprovar";
                    $.ajax({
                        type: "POST",
                        async: true,
                        dataType: "json",
                        url: location.origin + "/RH/MarcacaoFerias",
                        data: feria,
                        success: function (data) {

                            //window.location = "/RH/Index";

                        },
                        error: function (error) {
                            var x = error; //break here for debugging.
                        }
                    });
                }

            }


            var mensaguem = "";
            mensaguem = "<table>"
            mensaguem += "<tr>" +
                "<th>Data</th>" +
                "<th>Tipo</th>" +
                "<th>Estado</th> </tr>";

            for( j = 0; j < ferias.length; j++ ){
                mensaguem += "<tr>" +
                "<td>" +ferias[j].dataFeria +"</td>" +
                "<td>" + ferias[j].tipo + "</td>" +
                "<td>" + ferias[j].estado + "</td> </tr>";

            }

            mensaguem += "</table>";

            var apiUrl = location.origin + "/Funcionario/sendEmailCriacaoFerias";

            $.ajax({
                type: "POST",
                dataType: "json",
                async: true,
                url: apiUrl,
                data: { funcionarioId: '@Model.id', 'mensaguem':mensaguem, titulo:"Pedido de Ferias do Funcionario @Model.nome.First()" },
                success: function () {

                    //window.location = "/RH/Index";

                },
                error: function (error) {
                    var x = error; //break here for debugging.
                }
            });

            window.location = "/RH/Details/" + '@Model.id';

        }
</script>

<!-- Full Calendar-->
<script>
    $(document).ready(function () {
        $('#menu_rh_ul').attr('class', 'collapse in');
        $('#menu_rh_details').attr('class', 'active');
        
            var tipoFerias = "Dia de Férias";
	        var eventos = [];

	        $('#calendar').fullCalendar({
	            right: 'month,agendaWeek,agendaDay',
	            lang: 'pt',
	            defaultView: 'month',
	            editable: false,
	            events: eventos
	        });

	        var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

	        $.ajax({
	            type: "POST",
	            dataType: "json",

	            url: apiUrl,
	            data: {funcionarioId: '@Model.id', ano: '@DateTime.Now.Year'},
	            success: function (data) {

	                data.forEach(preencherCalendario);

	                function preencherCalendario(value, index, ar) {
	                    var color = "#337ab7";
	                    var attrClass = "";
	                    var span =  ""

	                    switch (value.estado) {
	                        case "Por Aprovar":
	                            color = "#f0ad4e";

	                            break;

	                        case "Aprovado":
	                            color = '#257e4a';
	                            attrClass = "class='success'";
	                            span = "<span class='btnAprovado glyphicon glyphicon-thumbs-up'  style='font-size: 15px; ' aria-hidden='true'></span>";

	                            break;
	                        case "Recusado":
	                            color = "#d9534f";
	                            attrClass = "class='danger'";
	                            span = "<span class='btnAprovado glyphicon glyphicon-thumbs-down'  style='font-size: 15px; ' aria-hidden='true'></span>";

	                            break;

	                    }


	                    var evento = {
	                        //id: value.funcionarioId,
	                        title: value.tipo,// 'Pedido Ferias',
	                        start: value.dataFeria, //'2014-06-09T16:00:00'
	                        end: value.dataFeria,
	                        allDay: true,
	                        color: color
	                    }

	                    $('#calendar').fullCalendar('renderEvent', evento, true);

	                    var day = moment(value.dataFeria);
	                    console.log(day);
	                    var d = new Date(value.dataFeria);

	                    $("#tabelaMarcacaoFerias").append(
                            "<tr " + attrClass + ">" +
                                "<td class ='DataM'>" + day.format("DD/MM/YYYY") + "</td> " +
                                "<td>" + value.tipo + "</td> " +
                                "<td >" + value.estado + "</td> " +
                                "<td> "+ span +" </td>" +
                            "</tr>"
                        );

	                }
	            },
	            error: function (error) {
	                var x = error; //break here for debugging.
	            }
	        });


        });

        function formatDate(value) {
            return value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getYear();
        }

</script>
    <!--SignalR script to update the chat page and send messages.-->
<script>
    $.connection.hub.url = "@conexao";
        
        var rhHub = $.connection.rhHub;

        $(function () {



            rhHub.client.daInfFeriasFuncionario = function (val) {
                console.log(val);
                console.log("Connection started! Client - daInfFeriasFuncionario ");

                $("#txtGozados").text(val.diasJaGozados);
                $("#txtPorGozar").text(val.diasPorGozar);
                $("#txtMaximoDiaFerias").text(val.diasDireito);
            };

            rhHub.client.daListaEmpresas = function (val) {
                console.log("Connection started! client");
                console.log(val);
                $("#tabelaEmpresas").empty();

                val.forEach(preencherEmpresas);

                function preencherEmpresas(value, index, ar) {

                    $("#tabelaEmpresas").append(
                            "<tr>" +
                                "<td> <a href='#' onclick= preencheDadosEmpresa('" + value.codigo + "') >" + value.codigo + "</a></td> " +
                                "<td>" + value.nome + "</td> " +
                                "<td id='btSave" + value.codigo + "' class = 'listBtSave'> </td>" +
                            "</tr>"
                        );
                }
            };

            rhHub.client.daDadosEmpresa = function (val) {
                console.log("Connection started! - da dados da empresa "+ val.codigo);

                $("#divDadosEmpresa").show();

                $("#codigo").val(val.codigo);
                $("#nome").val(val.nome);

            };

            rhHub.client.daListaFuncionarios = function (val) {
                console.log("Connection started! client - Lista Funcionarios");
                console.log(val);
                $("#tableListaFuncionarios").empty();

                $("#tableListaFuncionarios").append("<tr> <th> Codigo  </th> <th> Funcionario </th> <th> Departamento </th>  <th> Email </th> <th> Nr. Telefone</th> </tr>");

                val.forEach(preencheFuncionarios);

                function preencheFuncionarios(value, index, ar){

                    $("#tableListaFuncionarios").append(
                        "<tr>" +
                            "<td>" +
                                "<a href='#' onclick= daExtratoPdfCliente('" + $("#codigoEmpresa").text() + "','" + value.codigo + "')>" + value.codigo + "</a>" +
                            "</td> " +
                            "<td> " + value.nome + " </td> " +
                            "<td> " + value.departamentoId + "</td>" +
                            "<td id='email'>" + value.email + " </td>  "+
                            "<td> " + value.telemovel + "</td>" +
                        "</tr>"
                    );


                        console.log();
                }


            }

            rhHub.client.daListaDepartamentos = function (val) {
                console.log("Connection started! client - Lista Departamentos");
                console.log(val);

                $("#tableListaDepartamentos").empty();

                $("#tableListaDepartamentos").append("<tr> <th> Departamento  </th> <th> Descrição </th> </tr>");

                val.forEach(preencheDepartamento);

                function preencheDepartamento(value, index, ar) {

                    //var funcionarios = "";

                    //value.contacto.forEach(daContactos)

                    $("#tableListaDepartamentos").append(
                        "<tr> " +
                            "<td>" + value.departamento + "</td>" +
                            "<td>" + value.descricao + "</td>" +
                        "</tr>"
                    );

                    //function daContactos(value, index, ar){
                    //    if (value != null) {
                    //        contacto = contacto + value.Email + "; ";
                    //    }

                    //}

                    //console.log();
                }


            }

            $.connection.hub.start().done(function () {
                console.log("connection started! server");

                getFuncInfFerias(2015, '@Model.empresaId', '@Model.codigo');
            });
        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function daFuncionarios(empresa){
            rhHub.server.daListaFuncionarios(0, empresa, "gmahota", "Accsys2011!", "");
        }

        function preencheDadosEmpresa(empresa) {
            console.log("da Lista de Funcionarios da empresa " + empresa);
            rhHub.server.daDadosEmpresa(0, empresa, "gmahota", "Accsys2011!");
            daFuncionarios(empresa);
            daListaDepartamentos(empresa)

            $(".listBtSave").empty();
            $("#btSave" + empresa).append("<a onclick= 'importarDadosEmpresa()'  class='btSave glyphicon glyphicon-floppy-save' style=' color:red'></a>");


        }

        function daListaDepartamentos(empresa) {
            console.log("Connection started! Server - Lista Departamentos");
            rhHub.server.daListaDepartamentos(0, empresa, "gmahota", "Accsys2011!","");

        }

        function daExtratoPdfCliente(empresa,cliente){
            console.log("da extrato do cliente " + cliente + " da empresa " + empresa);
            enviaEmail(cliente)
            rhHub.server.daExtratoPDFCliente(0, empresa, "gmahota", "Accsys2011!", cliente);
        }

        function importarDadosEmpresa() {

            GravarEmpresa();
            GravarDepartamentos();
            GravarFuncionarios();

        }

        function getFuncInfFerias(ano,empresa,codigo) {
            console.log("Connection started! Server - getFuncInfFerias");
            rhHub.server.daInfFeriasFuncionario(0, empresa, "gmahota", "Accsys2011!", codigo, ano);
        }
</script>
  
}


<h4 class="page-header">Detalhes de Ferias : @ViewData["modulo_value"]</h4>


<div class="row placeholders " >
    <div class="placeholder">
        <div id="calendario"></div>
    </div>
</div>

<div class="row placeholders">
    <div class="placeholder">
        
            <a href="@Url.Action("Create", "RH",new { id = Model.id })" type="button" class="btn btn-primary btn-sm " role="button">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                Editar
            </a>

            @if (User.IsInRole("Administrator") || User.IsInRole("Director de Area"))
            {
                <a href="@Url.Action("Edit", "RH", new { id = Model.id })" type="button" class="btn btn-success btn-sm " role="button">
                    <span class="fa fa-check-square-o" aria-hidden="true"></span>
                    Aprovação
                </a>


            }
            <a asp-controller="RH" asp-action="Index" class="btn btn-default btn-sm " role="button">
                <span class="fa fa-arrow-circle-left" aria-hidden="true"></span>
                Voltar
            </a>
        
    </div>
    
</div>

