@model Funcionario

@{
    var conexao = "";
}



<environment names="Development">
    @{conexao = "http://localhost:8989/signalr";}
</environment>
<environment names="Staging,Production">
    @{conexao = "http://192.168.3.16:8989/signalr";}
</environment>

@section scripts {

<script>
    $(document).ready(function () {
        $('#menu_rh_ul').attr('class', 'collapse in');
        $('#menu_rh_details').attr('class', 'active');
        
            var tipoFerias = "Dia de Férias";
	        var eventos = [];

	        $('#calendar').fullCalendar({
	            right: 'month,agendaWeek,agendaDay',
	            lang: 'pt',
	            defaultView: 'month',
	            editable: false,
	            events: eventos
	        });

	        var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

	        $.ajax({
	            type: "POST",
	            dataType: "json",

	            url: apiUrl,
	            data: {funcionarioId: '@Model.id', ano: '@DateTime.Now.Year'},
	            success: function (data) {

	                data.forEach(preencherCalendario);

	                function preencherCalendario(value, index, ar) {
	                    var color = "#337ab7";
	                    var attrClass = "";
	                    var span =  ""

	                    switch (value.estado) {
	                        case "Por Aprovar":
	                            color = "#f0ad4e";

	                            break;

	                        case "Aprovado":
	                            color = '#257e4a';
	                            attrClass = "class='success'";
	                            span = "<span class='btnAprovado glyphicon glyphicon-thumbs-up'  style='font-size: 15px; ' aria-hidden='true'></span>";

	                            break;
	                        case "Recusado":
	                            color = "#d9534f";
	                            attrClass = "class='danger'";
	                            span = "<span class='btnAprovado glyphicon glyphicon-thumbs-down'  style='font-size: 15px; ' aria-hidden='true'></span>";

	                            break;

	                    }


	                    var evento = {
	                        //id: value.funcionarioId,
	                        title: value.tipo,// 'Pedido Ferias',
	                        start: value.dataFeria, //'2014-06-09T16:00:00'
	                        end: value.dataFeria,
	                        allDay: true,
	                        color: color
	                    }

	                    $('#calendar').fullCalendar('renderEvent', evento, true);

	                    var day = moment(value.dataFeria);
	                    console.log(day);
	                    var d = new Date(value.dataFeria);

	                    $("#tabelaMarcacaoFerias").append(
                            "<tr " + attrClass + ">" +
                                "<td class ='DataM'>" + day.format("DD/MM/YYYY") + "</td> " +
                                "<td>" + value.tipo + "</td> " +
                                "<td >" + value.estado + "</td> " +
                                "<td> "+ span +" </td>" +
                            "</tr>"
                        );

	                }
	            },
	            error: function (error) {
	                var x = error; //break here for debugging.
	            }
	        });


        });

        function formatDate(value) {
            return value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getYear();
        }

</script>
    <!--SignalR script to update the chat page and send messages.-->
<script>
    $.connection.hub.url = "@conexao";
        
        var rhHub = $.connection.rhHub;

        $(function () {



            rhHub.client.daInfFeriasFuncionario = function (val) {
                console.log(val);
                console.log("Connection started! Client - daInfFeriasFuncionario ");

                $("#txtGozados").text(val.diasJaGozados);
                $("#txtPorGozar").text(val.diasPorGozar);
                $("#txtMaximoDiaFerias").text(val.diasDireito);
            };

            rhHub.client.daListaEmpresas = function (val) {
                console.log("Connection started! client");
                console.log(val);
                $("#tabelaEmpresas").empty();

                val.forEach(preencherEmpresas);

                function preencherEmpresas(value, index, ar) {

                    $("#tabelaEmpresas").append(
                            "<tr>" +
                                "<td> <a href='#' onclick= preencheDadosEmpresa('" + value.codigo + "') >" + value.codigo + "</a></td> " +
                                "<td>" + value.nome + "</td> " +
                                "<td id='btSave" + value.codigo + "' class = 'listBtSave'> </td>" +
                            "</tr>"
                        );
                }
            };

            rhHub.client.daDadosEmpresa = function (val) {
                console.log("Connection started! - da dados da empresa "+ val.codigo);

                $("#divDadosEmpresa").show();

                $("#codigo").val(val.codigo);
                $("#nome").val(val.nome);

            };

            rhHub.client.daListaFuncionarios = function (val) {
                console.log("Connection started! client - Lista Funcionarios");
                console.log(val);
                $("#tableListaFuncionarios").empty();

                $("#tableListaFuncionarios").append("<tr> <th> Codigo  </th> <th> Funcionario </th> <th> Departamento </th>  <th> Email </th> <th> Nr. Telefone</th> </tr>");

                val.forEach(preencheFuncionarios);

                function preencheFuncionarios(value, index, ar){

                    $("#tableListaFuncionarios").append(
                        "<tr>" +
                            "<td>" +
                                "<a href='#' onclick= daExtratoPdfCliente('" + $("#codigoEmpresa").text() + "','" + value.codigo + "')>" + value.codigo + "</a>" +
                            "</td> " +
                            "<td> " + value.nome + " </td> " +
                            "<td> " + value.departamentoId + "</td>" +
                            "<td id='email'>" + value.email + " </td>  "+
                            "<td> " + value.telemovel + "</td>" +
                        "</tr>"
                    );


                        console.log();
                }


            }

            rhHub.client.daListaDepartamentos = function (val) {
                console.log("Connection started! client - Lista Departamentos");
                console.log(val);

                $("#tableListaDepartamentos").empty();

                $("#tableListaDepartamentos").append("<tr> <th> Departamento  </th> <th> Descrição </th> </tr>");

                val.forEach(preencheDepartamento);

                function preencheDepartamento(value, index, ar) {

                    //var funcionarios = "";

                    //value.contacto.forEach(daContactos)

                    $("#tableListaDepartamentos").append(
                        "<tr> " +
                            "<td>" + value.departamento + "</td>" +
                            "<td>" + value.descricao + "</td>" +
                        "</tr>"
                    );

                    //function daContactos(value, index, ar){
                    //    if (value != null) {
                    //        contacto = contacto + value.Email + "; ";
                    //    }

                    //}

                    //console.log();
                }


            }

            $.connection.hub.start().done(function () {
                console.log("connection started! server");

                getFuncInfFerias(2015, '@Model.empresaId', '@Model.codigo');
            });
        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function daFuncionarios(empresa){
            rhHub.server.daListaFuncionarios(0, empresa, "gmahota", "Accsys2011!", "");
        }

        function preencheDadosEmpresa(empresa) {
            console.log("da Lista de Funcionarios da empresa " + empresa);
            rhHub.server.daDadosEmpresa(0, empresa, "gmahota", "Accsys2011!");
            daFuncionarios(empresa);
            daListaDepartamentos(empresa)

            $(".listBtSave").empty();
            $("#btSave" + empresa).append("<a onclick= 'importarDadosEmpresa()'  class='btSave glyphicon glyphicon-floppy-save' style=' color:red'></a>");


        }

        function daListaDepartamentos(empresa) {
            console.log("Connection started! Server - Lista Departamentos");
            rhHub.server.daListaDepartamentos(0, empresa, "gmahota", "Accsys2011!","");

        }

        function daExtratoPdfCliente(empresa,cliente){
            console.log("da extrato do cliente " + cliente + " da empresa " + empresa);
            enviaEmail(cliente)
            rhHub.server.daExtratoPDFCliente(0, empresa, "gmahota", "Accsys2011!", cliente);
        }

        function importarDadosEmpresa() {

            GravarEmpresa();
            GravarDepartamentos();
            GravarFuncionarios();

        }

        function getFuncInfFerias(ano,empresa,codigo) {
            console.log("Connection started! Server - getFuncInfFerias");
            rhHub.server.daInfFeriasFuncionario(0, empresa, "gmahota", "Accsys2011!", codigo, ano);
        }
</script>
  
}


<h4 class="page-header">Detalhes de Ferias : @ViewData["modulo_value"]</h4>

<div class="row placeholders">
    <div class="col-md-6 placeholder">
        <div id="calendar"></div>
    </div>

    <div class="col-md-4 placeholder">

        <table id="tabelaMarcacaoFerias" class="table">

            <thead>
                <tr>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>


    </div>

</div>

<div class="row placeholders">
    <div class="col-md-5 placeholder" >
        <a href="@Url.Action("Create", "RH",new { id = Model.id })" type="button" class="btn btn-primary btn-sm " role="button">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
            Editar
        </a>

        @if (User.IsInRole("Administrator") || User.IsInRole("Director de Area"))
        {
        <a href="@Url.Action("Edit", "RH", new { id = Model.id })" type="button" class="btn btn-success btn-sm " role="button">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            Aprovação
        </a>


        }
        <a asp-controller="RH" asp-action="Index" class="btn btn-default btn-sm " role="button">
            <span class="fa fa-arrow-circle-left" aria-hidden="true"></span>
            Voltar
        </a>
    </div>
</div>

