
@{
    ViewBag.Title = "RH";
    var conexao = "";
    
}

<environment names="Development">
    @{conexao = "http://localhost:8989/signalr";}
</environment>
<environment names="Staging,Production">
    @{conexao = "http://ferias.mit.co.mz:8989/signalr";}
</environment>

@section scripts {

<!-- Variaveis Globais -->
<script type="text/javascript">
        var ferias = [];
        var tipoFerias = "Dia de Férias";
        var numDiasMarcados = 0;

        var numMeiosDiasMarcados = 0;
        var numDiasAntecipados = 0;
        var numMeiosAntecipados = 0;
</script>

<!-- Boostrap Annual Calendar-->
<script type="text/javascript">

        $(document).ready(function () {

            var currentYear = new Date().getFullYear();

            $('#calendario').calendar({
                enableContextMenu: true,
                dataSource:[],
                mouseOnDay: function (e) {
                    if (e.events.length > 0) {
                        var content = '';

                        for (var i in e.events) {
                            content += '<div class="event-tooltip-content">'
                                            + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                            + '<div class="event-location">' + e.events[i].location + '</div>'
                                        + '</div>';
                        }

                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });

                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function (e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                dayContextMenu: function (e) {
                    $(e.element).popover('hide');
                },
                enableRangeSelection: true,

                selectRange: function (e) {

                }
            })

            var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

            $.ajax({
                type: "POST",
                dataType: "json",

                url: apiUrl,
                data: { funcionarioId: '', ano: '@DateTime.Now.Year' },

                success: function (data) {

                    data.forEach(preencherCalendario);

                    function preencherCalendario(value, index, ar) {

                        var color = "#337ab7";

                        switch (value.estado) {
                            case "Por Aprovar":
                                color = "#f0ad4e";
                                break;

                            case "Aprovado":
                                color = '#257e4a';
                                break;
                            case "Recusado":
                                color = "#d9534f";

                                break;

                        }

                        var day = moment(value.dataFeria);

                        var currentYear = new Date().getFullYear();
                        console.log(value.dataFeria)
                        var evento = {
                            id: 0,
                            name: value.tipo,
                            location: value.estado,
                            startDate: day.toDate(),
                            endDate: day.toDate(),
                            color: color
                        }

                        saveEvent(evento)

                        if (value.estado == "Por Aprovar") {




                        }



                    }
                },
                error: function (error) {
                    var x = error; //break here for debugging.
                }
            });
        })


        function saveEvent(evento) {

            var dataSource = $('#calendario').data('calendar').getDataSource();

            var newId = 0;

            for (var i in dataSource) {
                if (dataSource[i].id > newId) {
                    newId = dataSource[i].id;
                }
            }

            newId++;
            evento.id = newId;

            dataSource.push(evento);

            console.log(dataSource)

            $('#calendario').data('calendar').setDataSource(dataSource);

        }

        function existeData(events,evento) {

            for(i = 0 ; i < events.length; i++){
                if (events[i].dataFeria == evento.dataFeria) {

                    alert("O sistema não permite marcar duas vezes a mesma data")
                    return true

                }

            }
            return false;
        }

        
</script>

<script>

    $.connection.hub.url = "@conexao";

    $(document).ready(function () {
            var tipoFerias = "Dia de Férias";
	        var eventos = [];


            $.get('/RH/ListaFuncionarios/', function(result) {
                var funcionarios = result;

                $.each(funcionarios, function () {

                    funcionarioCalendario(this);

                });
            });

            var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

            $('#calendar').fullCalendar({
                
                lang: 'pt',
                //defaultView: 'month',
                editable: false,
                events: eventos,
                resourceColumns: [
                    {
                        labelText: 'First Name',
                        field: 'fname'
                    },
                    {
                        labelText: 'Last Name',
                        field: 'lname'
                    }
                ],

                resources: [
                {
                    id: 'a',
                    fname: 'John',
                    lname: 'Smith'
                },
                {
                    id: 'b',
                    fname: 'Jerry',
                    lname: 'Garcia'
                }]
	        });


        });

        function funcionarioCalendario(id) {

            var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

            $.ajax({
                type: "POST",
                dataType: "json",

                url: apiUrl,
                data: { funcionarioId: id, ano: '@DateTime.Now.Year' },
                success: function (data) {

                    data.forEach(preencherCalendario);

                    function preencherCalendario(value, index, ar) {
                        var color = "#337ab7";
                        var attrClass = "";
                        var span = ""

                        switch (value.estado) {
                            case "Por Aprovar":
                                color = "#f0ad4e";

                                break;

                            case "Aprovado":
                                color = '#257e4a';
                                attrClass = "class='success'";
                                span = "<span class='btnAprovado glyphicon glyphicon-thumbs-up'  style='font-size: 15px; ' aria-hidden='true'></span>";

                                break;
                            case "Recusado":
                                color = "#d9534f";
                                attrClass = "class='danger'";
                                span = "<span class='btnAprovado glyphicon glyphicon-thumbs-down'  style='font-size: 15px; ' aria-hidden='true'></span>";

                                break;

                        }

                        var day = moment(value.dataFeria);

                        var evento = {
                            id: 0,
                            name: value.funcionario.nome ,
                            location: value.tipo +" - " + value.estado,
                            startDate: day.toDate(),
                            endDate: day.toDate(),
                            color: color
                        }

                        saveEvent(evento)

                        $('#calendar').fullCalendar('renderEvent', evento, true);


                        var day = moment(value.dataFeria);

                        var d = new Date(value.dataFeria);

                        $("#tabelaMarcacaoFerias").append(
                            "<tr " + attrClass + ">" +
                                "<td class ='DataM'>" + day.format("DD/MM/YYYY") + "</td> " +
                                "<td>" + value.tipo + "</td> " +
                                "<td >" + value.estado + "</td> " +
                                "<td> " + span + " </td>" +
                            "</tr>"
                        );

                    }
                },
                error: function (error) {
                    var x = error; //break here for debugging.
                }
            });

        }


        function formatDate(value) {
            return value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getYear();
        }

        

</script>

<script>

    $(function () { // document ready

        
        $("#cbMes").select ('@DateTime.Now.Month');
        $("#ano").val('@DateTime.Now.Year');

        $('#menu_rh_ul').attr('class', 'collapse in');
        $('#menu_rh_index').attr('class', 'active');


    });

    

    function update_tabela_calendar() {
        var mes = $("#cbMes").val();
        var ano = $("#ano").val();

        var startDate = moment([2015, mes - 1, 1]);
        var endDate = moment(startDate).endOf('month');

        var linha = "<td>Empresa</td> <td>Funcionario</td> <td>Departamento</td>";

        for (var i = 1; i <= endDate.date() ; i++) {
            linha += "<td style='width:20px;'>" + i + "</td>";

        }
        $("#table_calendar").empty();

        $("#table_calendar").append(
            "<tr >" + linha +
            "</tr>"
        );

        $.get(location.origin + '/Funcionario/listaFuncionarios/', { empresa:"" ,departamento:"" }, function (result) {

            $.each(result, function () {
                var ferias = [];

                var departamento = '@ViewBag.departamento';
                var link = "";
                if (departamento == this.departamento.descricao) {
                    link = "<a href='" + location.origin + '/RH/Edit/'+this.id + "'>" + this.nome + "</a>";

                } else {
                    link = this.nome;

                }




                linha = "<td>" + this.empresaId + "</td>" +
                        "<td>" + link + "</td>" +
                        "<td>" + this.departamento.descricao + "</td>";

                for (var i = 1; i <= endDate.date() ; i++) {
                    linha += "<td id='"+this.id +"_"+i +"' style='width:20px;'> </td>";

                }

                $("#table_calendar").append(
                        "<tr id = '" + this.id + "'>" + linha +
                        "</tr>"
                );

                $.get(location.origin + '/RH/DataMarcacaoFerias', { funcionarioId: this.id, ano: ano, mes: mes }, function (fer) {
                    ferias = fer;
                    linha = "";

                    var estilo = "";
                    
                    for (var j = 0; j < ferias.length; j++) {
                        var f = ferias[j];
                        var color = "";

                        switch (f.estado) {
                            case "Por Aprovar": color = "#f0ad4e";break;
                            case "Aprovado":
                                if (f.tipo = "Dia de Férias") {
                                    color = '#257e4a';

                                } else {
                                    color = "#5bc0de";

                                }; break;
                            //case "Recusado": color = "#d9534f"; break;

                        }
                        
                        $("#" + ferias[j].funcionarioId + "_" + moment(f.dataFeria).date()).css("background-color", color);
                    }
                });
            });
        });





    }

</script>
}


<h4 class="page-header">Detalhes de Ferias : @ViewData["modulo_value"]</h4>

<div class="row placeholders">
    <div class="placeholder">

        <div class="col-md-10">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">


                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                        <span class="fa fa-calendar"></span>
                        Calendario
                    </a>
                </li>

                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                        <span class="fa fa-calendar-o"></span>
                        Mensal
                    </a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="profile">


                        <div class="row">

                            <table>
                                <tr>
                                    <td> Ano de Férias:</td>
                                    <td id="anoFerias" style="padding-right:10px">
                                        <input type="number" id="ano" class="form-control" min="2015" max="2016" value="@DateTime.Now.Year" />
                                    </td>

                                    <td>
                                        <div class="table-responsive">
                                            <select id="cbMes" class="form-control" onchange="">
                                                <option value="1">Janeiro</option>
                                                <option value="2">Fevreiro</option>
                                                <option value="3">Março</option>
                                                <option value="4">Abril</option>
                                                <option value="5">Maio</option>
                                                <option value="6">Junho</option>
                                                <option value="7">Julho</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Setembro</option>
                                                <option value="10">Outubro</option>
                                                <option value="11">Novembro</option>
                                                <option value="12">Dezembro</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td> <button onclick="update_tabela_calendar()"> <span class="fa fa-search"></span> </button> </td>
                                </tr>
                            </table>





                        </div>

                        <div class="row">
                            <div class="container">
                                <div id="table_calendar" class="table table-bordered"></div>
                            </div>

                        </div>



                </div>

                <div role="tabpanel" class="tab-pane active" id="home">
                    <div id="calendario"></div>
                </div>

            </div>

        </div>

        <div class="col-md-2 ">
            <div class="panel panel-default">
                <div class="panel-heading">Restrições</div>
                <div class="panel-body">
                    <div class="row">
                        Empresa: <input type="text" value="@ViewBag.empresa" disabled="disabled" />
                        Departamento: <input type="text" value="@ViewBag.departamento" disabled="disabled" />
                    </div>
                    
                    <div class="row">
                        <div id="table_funcionarios" class="table table-bordered">

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    
</div>