@model IEnumerable<MIT.Data.Empresa>

@{
    ViewData["Title"] = "View";
}
<h4 class="page-header">Lista Departamentos</h4>

<div class="table-responsive">

    @foreach (var item in Model)
    {
        <div class="panel-group" id="accordion">
            <!-- accordion 1 -->
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <!-- panel-heading -->
                    <h4 class="panel-title">
                        <!-- title 1 -->
                        <a data-toggle="collapse" data-parent="#accordion" href="#accordion_@item.codigo ">
                            @item.codigo - @item.nome
                        </a>
                    </h4>
                </div>
                <!-- panel body -->
                <div id="accordion_@item.codigo" class="panel-collapse collapse ">
                    <div class="panel-body">

                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Departamento
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>Responsavel</th>
                                <th></th>
                            </tr>

                            @foreach (var dep in item.departamento)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => dep.departamento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => dep.descricao)
                                    </td>
                                    <td>
                                        @{ if (dep.responsavel != null)
                                            {

                                                @Html.DisplayFor(modelItem => dep.responsavel.Email)
                                            }

                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@dep.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@dep.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@dep.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
            </div>

        </div>
    }

                
</div>

